body {

    min-height: 100vh;
    border: 2px double blue;
    border-width: 2px;
}

main {
    min-height: 100vh;
    flex-direction: column;
}

#head {
    margin-top: 20px;
    text-align: center;
    color: rgb(7, 13, 94);
}

#logoImg {
    width: 60px;
}

#navBar {
    border-top: 1px solid black;
    align-items: center;
    display: flex;
    background-color: rgb(80, 78, 78);

}

#homeLink {
    margin-left: 200px;
    color: black;
    text-decoration: none;
}

#aboutLink {
    margin-left: 250px;
    color: black;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;

}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: center;
}

.rectangle{
    width: 60px;
    height: 20px;
    display: inline-block;
    background-color: red;
}
/* .rectangle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00ff00;
    opacity: 0;
    pointer-events: none;
}

input[type=checkbox]:checked + .rectangle::before{
   opacity: 1;

  } */

footer {
    margin-top: 20px;
    color: rgb(7, 13, 94);
    background-color: rgb(80, 78, 78);
    text-align: center;
    margin-top: auto;
}
#Tasks:checked ~ .rectangle{
   background-color: #00ff00;
 }